annotated-types==0.7.0
blinker==1.9.0
click==8.3.0
colorama==0.4.6
dnspython==2.8.0
email-validator==2.3.0
Flask==3.1.2
greenlet==3.2.4
idna==3.11
inflect==7.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
more-itertools==10.8.0
pydantic==2.12.2
pydantic_core==2.41.4
PyMySQL==1.1.2
python-dotenv==1.1.1
sqlacodegen-v2==0.1.4
SQLAlchemy==2.0.44
typeguard==4.4.4
typing-inspection==0.4.2
typing_extensions==4.15.0
Werkzeug==3.1.3